.login{
    /* display: grid;
    grid-template-columns: 55% 45%; */
    background: white;
    height: 100vh;
}

.logo_text_log{
font-family: "Lexend Deca";
font-size: 5vw;
color: #2C2C2C ;
font-weight: 400;
line-height: 24px; 
letter-spacing: 25.8px;
/* margin-right: -25.8px; */
text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.30);
}

.big_img{
    width: 95%;
    height: 95vh;
    margin: auto;
}

.login_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.login_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    height: 100%;
}

.social_login{
    border-radius: 10px;
    border: 1px solid #e6dbdb;
    background: #171616;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  10px;
    padding: 10px 15px;
    color: white;
    width: 20%;
    cursor: pointer;
    transition: 0.6s;
}

.social_login:hover{
    border: 1px solid transparent;
    background: #355b97 ;
    color: white;
}




.social_text{
font-style: normal;
font-weight: 300;
line-height: 35px; /* 175% */
letter-spacing: 1.6px;
color: white;
font-size: 17px;
font-family: "Poppins";
}

.login_text{
    font-size: 16px;
    font-weight: 400;
}

.ancor_login{
    color: #FA7D09;
    cursor: pointer;
    transition: 0.4s;
}

.ancor_login:hover{
    opacity: 0.6;
}



@media screen and (max-width: 750px) and (min-width: 0px){
 
    .big_img{
       display: none;
    }
  
    .login{
        display: grid;
        grid-template-columns: unset;
    
    }
    
    .logo_text_log{
        /* font-size: 2rem; */
        margin-right: -21px;
        }
}
@media screen and (max-width: 800px) and (min-width: 751px){
    
    .logo_text_log{
         font-size: 4vw; 
        margin-right: -16px;
        }
}
@media screen and (max-width:450px) and (min-width: 0px){
 
    .logo_text_log{
        /* font-size: 2rem; */
        margin-right: -21px;
        }
}