.h6_tit{
    color: #CDCDCD;
}

.line_grid{
    padding: 15px 30px;
    border-radius: 12px;
    background: #555D70;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.dashboard{
    width: 100%;
    padding: 12px;
    background: #F6F6F6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search_res{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result_val{
    display: flex;
    align-items: center;
    gap: 6px;
}

.google_sear{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EDEFFB;
    border-radius: 12px;
    padding: 10px;
    justify-content: space-around;
}
.search_res>h4{
font-weight: 600;
}

.dash_checkbox{
    width: 20px;
    height: 20px;
}

.first_line{
    display: grid;
    grid-template-columns: 65% 33%;
    gap: 1%;
}

.line_div> canvas{
width: 100% !important;
}
.sec_line{
    display: grid;
    grid-template-columns: 24% 40% 33%;
    gap: 1%;
    margin-top: 10px;
}

.speedochart{
border-radius: 12px;
background: #FFE81B;
box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

.speedo_title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    font-weight: 500;
}

.speedo{
    width: 46%;
    margin: 0 auto;
}

.CircularProgressbar-text{
    font-weight: 600;
}


.loader_chart{
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);  
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    justify-content: space-between;
    color: #646464;
}


.loader_cont{
    margin: 0 auto;
    width: 89%;
    text-align: center;
    display: grid;
    gap: 10px;
}

.loader_label{
    display: flex;
    justify-content: space-between;
}

.bar_class{
    background-color: white;
    border-radius: 10px;
}

.bar_class>div{
    border-radius: 10px 0 0 10px !important;
   
    background-color: #6E9CF7 !important;
}

.loader_title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
}

.label_loader{
    font-size: 12px;
    font-weight: 500;
}

.info_wid{
    border-radius: 12px;
    background: #FF6B00;
    box-shadow: -24px 0px 80px 0px rgba(49, 79, 124, 0.02);
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around
}


@media screen and (max-width: 750px) and (min-width: 0px){
    .first_line{
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    .sec_line{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
        margin-top: 10px;
    }

    .speedo{
        width: unset;
    }
    .loader_chart{
        padding: 10px;
    }
    .label_loader{
        font-size: 8px;
    }
  
}