

.header{
    background-color: #171717;
    padding: 17px 10PX;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 16% 59% 20%;
    position: sticky;
    top: 0;
    z-index: 99999999;
    }

    .logo_name{
    color: #E1DBD5;
    font-family: 'Lexend Deca';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 109.091% */
    letter-spacing: 6.6px;
    }



.logo{
    display: flex;
    align-items:baseline;
    margin-left: 20px;
}

.calender{
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9%;
    width: 100%;
    justify-items: center;
    justify-content: center
}

.days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number_day{
    font-size: 20px;
    font-weight: 700;
}

.today{
    border-radius: 20px;
    background: #FFF;
    padding: 5px 16px;
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active_day{
    color: white;
}

@media screen and (max-width: 800px) and (min-width: 501px){
   
    .calender{
        display: grid;
        grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
        width: 100%;
        justify-items: center;
        justify-content: center
    }
    
}
@media screen and (max-width: 800px) and (min-width: 0){
   
  .header{
      background-color: #171717;
      padding: 17px 10PX;
      display: grid;
      justify-content: unset;
      align-items: center;
      grid-template-columns: unset;
      position: sticky;
      top: -1px;
      z-index: 99999999;
      gap: 15px;
      }
      .uprow{
        display: flex;
        justify-content: space-between;
      }
    
}
@media screen and (max-width:500px) and (min-width: 0px){
   
    .calender{
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        width: 100%;
        justify-items: center;
        justify-content: center
    }
    
    .number_day{
        font-size: 10px;
        font-weight: 700;
    }

    .today{
        color: white !important;
        font-size: 10px;
        background-color: unset;
    }

    .days{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: grey;
        text-align: center;
        font-family: "Inter";
        font-size: 9px;
    }
}