.support_bg{
  /* background-image: url('/imgs/support.png');
  width: 100vh; */
  /* background-size:contain ; */
  overflow: hidden;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.support_body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 60%;
  margin: 0 auto;
}

.braces{
  font-size: 13vw;
  color: black;

}

.big_font_supp{
  font-size: 6vw;
  font-weight: 600;
  text-align: center;
}

.words_support{
  font-size: 1.5vw;
  text-wrap: wrap;
  text-align: center;
}

.arrow_suport{
  width: 25vw;
  height: 25vh;
}