.sidebar{
  border-right-width:0 !important;

}

.css-kpxwru{
  position: sticky !important;
  top:  var(--sl-header-height);
  z-index: 99999999;
  height: unset !important;
}

.css-1glc78w{
  min-width: unset !important;
  width: fit-content !important;
}


.css-wx7wi4{
margin-right: unset !important;
}
.limited_sidebar{
  background-color: #fff;
  height: calc(100vh - var(--sl-header-height) );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
  border-right: 1px solid  rgb(168 168 168 / 14%);
}

.user_info{
  /* background-color: #232323; */
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}
.user_img{
  position: relative;
  margin: 0 auto;
}
.user_img>img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user_status{
  position: absolute;
  bottom: 0;
  border-radius: 6.25rem;
  background: linear-gradient(180deg, #FFDB59 0%, rgba(225, 179, 14, 0.97) 50%, rgba(170, 136, 16, 0.96) 100%);
  font-size: 0.5rem;
  color: white;
  padding: 5px;
  left: 12.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_data{
  color: black;
}

.css-1sq2t7w >.ps-menu-button{
  border-radius: 12px;
}
.css-1almjat >.ps-menu-button:hover{
  border-radius: 12px;
}

.support_user{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.css-ewdv3l{
  display: flex;
  flex-direction: column;
  gap: 10px;
}